@use './utils/vars' as *;
@use './utils/mixins' as *;

.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 20px;
  background-color: $c-back;

  @include padd-inl;

  &__item {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__ua-link {
    align-items: center;
    gap: 5px;
    color: $c-wh;
    text-decoration: none;

    @include font-r;
    @include hover;

    font-size: 16px;
    font-weight: 500;

    display: none;

    @include tablet {
      display: flex;
      order: 1;
    }
  }

  &__ua-img {
    object-fit: contain;
    object-position: center;
    height: 4.61px;
    width: 8px;
  }

  &__menu-btn {
    background-image: url(../images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 20px;
    width: 25px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    filter: invert(1);

    @include hover;
  }

  &__logo-link {
    display: flex;
    align-items: center;

    @include hover;
  }

  &__logo-img {
    display: block;
    object-fit: contain;
    height: 40px;
    width: 123px;
  }
}
