$c-wh: rgba(241, 245, 244, 1);
$c-red: rgba(205, 77, 49, 1);
$c-back: rgba(63, 82, 82, 1);
$c-black: rgba(28, 27, 41, 1);
$c-gray: rgba(80, 79, 94, 1);
$c-back-red: rgba(175, 52, 25, 1);
$c-press-red: rgba(234, 52, 13, 1);
$c-dissabled-red: rgba(221, 131, 111, 1);
